@model IEnumerable<TeamListModel>
@{
    ViewBag.Title = "Teams";
}
<h2 class="text-center mt-6 mb-6">
    @ViewBag.Title
</h2>
@if (ViewBag.UserHasTeam == false)
{
    <div class="text-center mb-6 mt-6">
        <a class="btn btn-lg btn-success" asp-area="Player" asp-controller="Teams" asp-action="Create">
            Create Team
        </a>
    </div>
}
@if (Model.Count() == 0)
{
    <h2>No teams meet the current criteria!</h2>
}
else
{
    <div class="row">
        @foreach (var team in Model)
        {
            <partial name="_TeamPartial" model="@team" />
        }
    </div>
}