@using System.Text.RegularExpressions;
@model GameViewModel

@{
    ViewBag.Title = "Game Details";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="container mt-5 mb-5">
    @if (Model.Result != null)
    {
        <div class="d-flex align-items-center justify-content-around mt-3 mb-3">
            <h3>
                @Model.Result
            </h3>
        </div>
    }
    @if (Model.IsAcceptingBets)
    {
        <div class="d-flex align-items-center justify-content-around mt-3 mb-3">
            <a asp-controller="Bets" asp-action="Create" asp-route-gameId="@Model.Id"
           class="btn btn-warning btn-lg">
                <i class="bi bi-dice-6-fill"></i>
                Bet
            </a>
        </div>
    }
    <div class="row">
        <partial name="_TeamMinPartial" model="Model.TeamRed" />


        <div class="col text-center d-flex align-items-center justify-content-center">
            <p style="font-size:35px" class="mt-5 mb-5 mx-2">
                <b>VS</b>
            </p>
        </div>
        <partial name="_TeamMinPartial" model="Model.TeamBlue" />

    </div>

    <div class="text-center d-flex align-items-center justify-content-center">
        <partial name="_MapWithGameModePartial" model="Model.Map" />
    </div>
</div>