@model IEnumerable<GameListModel>
@{
    ViewBag.Title = "Games";
}
@if (Model.Count() == 0)
{
    <h2>No games found!</h2>
}
else
{
    <h2 class="text-center mb-3">Finished games</h2>
    <div class="row">
        @foreach (var game in ViewBag.FinishedGames)
        {
            <partial name="_GamePartial" model="game" />
        }
    </div>
    <h2 class="text-center mb-3">Upcoming games</h2>
    <div class="row">
        @foreach (var game in ViewBag.UpcomingGames)
        {
            <partial name="_GamePartial" model="game" />
        }
    </div>

}