@model GameSelectDateModel

<h2 class="text-center">Select a date</h2>

<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">

    <form asp-area="Matchmaker" asp-controller="Games" asp-action="Create" method="get">
        <div class="form-group">
            <select asp-for="DateTime" class="form-control">
                @foreach (var date in Model.Dates)
                {
                    <option value="@date">@date </option>
                }
            </select>
            <div class="text-center">
                <button class="btn btn-success mt-3" type="submit">Confirm date</button>
            </div>
        </div>
    </form>
</div>