@model InventoryPlayerIndexModel
@{
    ViewBag.Title = "My items";
}
<h2 class="text-center">@ViewBag.Title</h2>
<div class="container">
    <h3 class="text-center mt-3">
        @Model.Ammo ammo left.
    </h3>
    <div class="text-center mt-3 mb-3">
        <a class="btn btn-success btn-lg" asp-area="Player" asp-controller="AmmoBoxes" asp-action="Index">Buy ammo</a>
    </div>
    <hr style="height:8px;border:16px thick;color:white" />

    @if (Model.Clothes.Count() > 0)
    {
        <h3 class="text-center">Clothes</h3>
        <div class="row">
            @foreach (var clothing in Model.Clothes)
            {
                <partial name="_MyClothingPartial" model="clothing" />
            }
        </div>
    }
    else
    {
        <h3 class="text-center">No clothes</h3>
    }
    <div class="text-center mb-3 mt-3">
        <a class="btn btn-success btn-lg" asp-area="Player" asp-controller="Clothes" asp-action="Index">Buy clothes</a>
    </div>
    <hr style="height:8px;border:16px thick;color:white" />

    @if (Model.Weapons.Count() > 0)
    {
        <div class="row">
            @foreach (var weapon in Model.Weapons)
            {
                <partial name="_MyWeaponPartial" model="weapon" />
            }
        </div>
    }
    else
    {
        <h3 class="text-center mb-3 mt-3">No Weapons</h3>
    }
    <div class="text-center mb-3 mt-3">
        <a class="btn btn-success btn-lg" asp-area="Player" asp-controller="Weapons" asp-action="Index">Buy weapons</a>
    </div>
</div>